<?xml version="1.0" encoding="utf-8" ?>
<settings version="1">
	<section id="settings" label="" help="">
		<category id="general.settings" label="30000" help="">
			<group id="1" label="14260">
				<setting id="debug" label="30011" type="boolean" help="">
					<default>false</default>
					<control type="toggle"/>
				</setting>
			</group>
			<group id="2" label="30001">
				<setting id="cache.refresh" type="integer" label="30002" help="">
					<level>0</level>
					<default>1</default>
					<constraints>
						<options>
							<option label="30003">0</option>
							<option label="30004">1</option>
							<option label="30005">6</option>
							<option label="30006">12</option>
							<option label="30007">24</option>
							<option label="30008">48</option>
						</options>
					</constraints>
					<control type="spinner" format="string"/>
				</setting>
			</group>
		</category>
	</section>
</settings>